
%badge {
    border-radius: 2px;
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    margin: -5px 0;
    min-width: 10px;
    padding: 5px 8px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    
    &:empty {
        display: none;
    }
    
    // In related__status items badges float right
    .related__status & {
        float: right;
    } 
}

.badge {
    @extend %badge;
    background-color: $panel-colour;
}

.badge--success {
    @extend %badge;
    background-color: $green;
    color: #fff;
}

.badge--warn {
    @extend %badge;
    background-color: $yellow;
    color: #3c3c3c;
}

.badge--info {
    @extend %badge;
    background-color: $link-colour;
    color: #fff;
}

.badge--alert {
    @extend %badge;
    background-color: $mellow-red;
    color: #fff;
}
