// Taken from elements-page.scss 
.big-data {
    display: block;
    
    // Modifier
    &--is-link {
        display: block;
        background-color: $govuk-blue;
        color: $white;
        text-decoration: none;
        padding: $gutter-half;

        &:hover,
        &:active {
            background-color: $link-hover-colour;
            color: $white;
        }

        &:visited {
            color: $white;
        }
    }
}

.big-data__number {
    @include bold-48;
    display: block;
    line-height: .8;
}

.big-data__unit {
    @include bold-19;
    display: block;
}

.big-data__meta {
    margin-left: 60px;
    @include core-16;
    color: $secondary-text-colour;
}
