// Start now buttons
.button-start {
    @include bold-24;
    text-align: left; 
    background-image: file-url('icons/icon-pointer.png');
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding: em(7) em(41) em(4) em(16);

    @include device-pixel-ratio {
        background-image: file-url('icons/icon-pointer-2x.png');
        background-size: 30px 19px;
    }

    @include ie(6) {
        background-image: file-url('icons/icon-pointer-2x.png');
    }
}

.button--on-blue {
    @include button($black);
    font-weight: 700;
    text-align: left; 
    background-image: file-url('icons/icon-pointer.png');
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding-right: em(41);

    @include device-pixel-ratio {
        background-image: file-url('icons/icon-pointer-2x.png');
        background-size: 30px 19px;
    }

    @include ie(6) {
        background-image: file-url('icons/icon-pointer-2x.png');
    }
}

.button-warning {
    @include button($red);
    margin: 0 $gutter-half $gutter-half 0;
    padding: em(10) em(15) em(5);
    vertical-align: top;
}

//Be specific - don't wan't this class added to a tags
input.button--link {
    background-color: transparent;
    border: 0;
    color: $link-colour;
    cursor: pointer;
    left: -3px;
    margin: 0;
    outline: medium none;
    padding: 0;
    position: relative;
    text-align: left;
    text-decoration: underline;

    &:hover {
        color: $link-active-colour;
    }

    &:active,
    &:focus {
        background-color: $yellow;
    }
}
