.content-header {
    margin: 20px 0;
    
    h1 {
        margin: 0;
        position: relative;
    }

    .content-header__type {
        @include core-27;
        margin-bottom: 5px;
        color: $grey-1;
        display: block;
    }

    .content-header__title {
        @include bold-48;
    }

    .content-header__progress {
        
        @include core-19;
        position: absolute;
        display: inline-block;
        right: 0;
        color: $grey-1;
        
        &:before {
            @include bold-48;
            content: '- ';
            display: inline-block;
            text-indent: -9999em;
        }
    }

    .content-header__tertiary {
        @include core-27;
        margin-top: 5px;
    }
}
