.content-navigation {
    margin-top: $gutter;

    [class*='button'] {
        margin: 0 15px 15px 0;
    }

}

.content-navigation__secondary {
    list-style: none;

    li {
        margin-bottom: 5px;

        &:first-child {
            margin-top: 5px;
        }
    }
}
