@import 'device-pixels';

.icon {
    background-position: 0 0;
    background-repeat: no-repeat;
}

.icon-tick {
    background-image: file-url('icons/icon-tick.png');
    
    @include device-pixel-ratio() {
        background-image: file-url('icons/icon-tick-2x.png');
        background-size: 100%;
    }

    width: 27px;
    height: 27px;
}

@mixin iconhelper($icon-name, $icon-width: 27px, $icon-height: 27px) {
    background-position: 0 0;
    background-repeat: no-repeat;

    background-image: file-url('icons/icon-#{$icon-name}.png');
    
    @include device-pixel-ratio() {
        background-image: file-url('icons/icon-#{$icon-name}-2x.png');
        background-size: 100%;
    }

    width: $icon-width;
    height: $icon-height;
    
    // if psudo element

    display: inline-block;
    position: absolute;
    content: '';
    // $gutter-half + width (-42px std)
    margin-left: (-$gutter-half) + (-$icon-width);
}
