.present-data {
    @extend %grid-row;
}

.present-data__title-container {
    @include grid-column(1/3);

    margin-bottom: $gutter-half;

    @include media(tablet) {
        margin-bottom: 0;
    }
    
    .present-data__title {
        @include bold-27;
    }

}

.present-data__title-link {
    @include core-16;
    
    @include media(tablet) {
        display: block;
    }

    // .present-data__title-link + .present-data__title-link
    & + & {
        margin-left: 0;
    
        @include media(mobile) {
            margin-left: $gutter-half;
        }
    }   
}

.present-data dd {
    @include bold-19;
}

.present-data dd + dt {
    margin-top: .5em;
}
