// DVSA Tables
// - Bump text size to 19px (inc. padding)
// - Remove defaulting font-weight of th cells
// - Add 'vertical-align: top;'
// ==========================================================================
// GOV.UK front end toolkit dependencies
@import 'typography';
@import 'colours';

.table-summary + .table-summary {
    margin-top: $gutter-half;
}

.table-summary {

    &__key {
        @include core-16;
        padding: em(12, 16) em(20, 16) em(9, 16) 0;    
        font-weight: 700;
    }

    &__value,
    &__value--numeric,
    &__value--tabular {
        @include core-16;
        padding: em(12, 16) em(20, 16) em(9, 16) 0;
        min-width: 55%;
    }

    &__value--numeric,
    &__value--tabular {
        @include core-16($tabular-numbers: true);
        
    }

    &__value--numeric {
        text-align: right;
    }

    &__heading,
    &__heading--numeric {
        @include core-16;
        padding: em(12, 16) em(20, 16) em(9, 16) 0;    
        font-weight: 700; 
    }

    &__heading--numeric {
        text-align: right;
    }

    &__meta {
        color: $secondary-text-colour;
        font-weight: 300;
        display: block;
    }

}
