a:visited {
    color: $govuk-blue;
}

.hr--thin {
    height: 0;
    margin: $gutter 0;
    border: 0;
    background-color: transparent;
    border-top: 1px solid $grey-2;
}

.heading-medium {
    .heading-secondary {
        @include core-24;
    }
}

code {
    font-weight: 400;
}

.highlight {
    color: $hm-government;
    white-space: nowrap;
}

.masked-text {
    font-size: 1.5em;
    line-height: .75em;
}
