{{#contentFor "pageTitle"}} Kainos User Research & Design - Styleguide{{/contentFor}}

<main id="content" role="main">

    {{> mot_phase-banner}}
    {{> mot_a_content-header}}

    <div class="text">
        <p class="lede">This style guide explains how to make your service look consistent with GOV.UK.</p>
        <p>The guide is built on top of <a href="https://github.com/alphagov/govuk_frontend_toolkit" rel="external">GOV.UK frontend toolkit</a>, <a href="https://github.com/alphagov/govuk_template" rel="external">GOV.UK template</a>, and <a href="http://govuk-elements.herokuapp.com/" rel="external">GOV.UK elements</a>.</p>
        <p>In particular, <a href="http://govuk-elements.herokuapp.com/">GOV.UK elements</a> provides a large number of useful styles. Please get familiar with it!</p>
        <p class="panel-indent">All source code can be found in <a rel="external" href="https://github.com/visualunderground/krad-styleguide">GitHub</a>.
        </p>
        <h2 id="examples-pattern" class="heading-large">Documentation</h2>
        <ol class="list-number">
            <li><a href="#examples-pattern">Patterns</a></li>
            <li><a href="#examples-page">Page flows</a></li>
        </ol>
    </div>

    <h2 id="examples-pattern" class="heading-medium">1. Patterns</h2>
    <ol class="list-number">
        <li><a href="/examples/typography/">Typography</a></li>
        <li><a href="/examples/layout/">Layout</a></li>
        <li><a href="/examples/breadcrumbs/">Breadcrumbs</a></li>
        <li><a href="/examples/content-header/">Content header</a></li>
        <li><a href="/examples/system-messages/">System messages</a></li>
        <li><a href="/examples/form-inputs/">Form inputs</a></li>
        <li><a href="/examples/form-inputs-error/">Form inputs in error/validation state</a></li>
        <li><a href="/examples/search/">Search</a></li>
        <li><a href="/examples/pagination/">Pagination</a></li>
        <li><a href="/examples/filtered-data/">Filtered data</a></li>
    </ol>

    <h2 id="examples-page" class="heading-medium">2. Page flows</h2>
    <ol class="list-number">
        <li><a href="/sign-in/">Create an account</a></li>
    </ol>
</main>
