.sass-cache
.DS_Store
.idea/
.start.pid
.bundle

# Ignore dependencies
node_modules
bower_components
govuk_components
/vendor/

# Ignore compiled assets
app/public/stylesheets/
app/public/images/
app/public/javascripts/

# Ignore wraith tests
/tests/wraith/shots/
/tests/wraith/shots_history/
spider.txt
