{{#contentFor "pageTitle"}}Create an account{{/contentFor}}

<main id="content" role="main">

    {{> mot_phase-banner}}
    {{>mot_a_content-header}}

    <div class="text">

        <p class="lede">Welcome to the MOT testing service.</p>
        <p>You need to create an account before using the service, this should take no longer than 5 minutes. </p>
        <h2 class="heading-medium">Before you start</h2>
        <p>To create an account we will need the following information:</p>
        <ul class="list-bullet">
            <li>Your email address</li>
            <li>Your address</li>
        </ul>
    </div>

    <form action="#">

        {{> mot_m_content-navigation }}

    </form>


</main>
