{{#contentFor "pageTitle"}}Create an account - {{ContentHeader.title}}{{/contentFor}}

<main id="content" role="main">

    {{>mot_phase-banner}}
    {{>mot_a_content-header}}

    <div class="text">
        <p class="lede">Please check that the details below are correct.</p>
    </div>

    <h2 class="heading-medium">Your details</h2>
    <table class="key-value-list">
        <caption class="visuallyhidden">Summary of your details</caption>
        <tbody>
            <tr>
                <th scope="col" class="key-value-list__key">
                    Name
                </th>
                <td scope="col" class="key-value-list__value">
                    {{salutation}}
                </td>
                <td scope="col" class="key-value-list__item-action">
                    <a href="/create-an-account/name">Change<span class="visuallyhidden"> name</span></a>
                </td>
            </tr>
            <tr>
                <th scope="col" class="key-value-list__key">
                    Email address
                </th>
                <td scope="col" class="key-value-list__value">
                    {{emailAddress}}
                </td>
                <td scope="col" class="key-value-list__item-action">
                    <a href="/create-an-account/name">Change<span class="visuallyhidden"> email address</span></a>
                </td>
            </tr>
            <tr>
                <th scope="col" class="key-value-list__key">
                    Address
                </th>
                <td scope="col" class="key-value-list__value">
                    {{{displayAddress}}}
                </td>
                <td scope="col" class="key-value-list__item-action">
                    <a href="/create-an-account/address">Change<span class="visuallyhidden"> address</span></a>
                </td>
            </tr>
        </tbody>
    </table>
    <h2 class="heading-medium">Your account security</h2>
    <table class="key-value-list">
        <caption class="visuallyhidden">Summary of your details</caption>
        <tbody>
            <tr>
                <th scope="col" class="key-value-list__key">
                    First security question
                </th>
                <td scope="col" class="key-value-list__value">
                    {{{question1}}}<br>  
                    <span class="masked-text">{{answer1}}</span>
                </td>
                <td scope="col" class="key-value-list__item-action">
                    <a href="/create-an-account/security-one">Change<span class="visuallyhidden"> first security question</span></a>
                </td>
            </tr>
            <tr>
                <th scope="col" class="key-value-list__key">
                    Second security question
                </th>
                <td scope="col" class="key-value-list__value">
                    {{{question2}}}<br> 
                    <span class="masked-text">{{answer2}}</span>
                </td>
                <td scope="col" class="key-value-list__item-action">
                    <a href="/create-an-account/security-two">Change<span class="visuallyhidden"> second security question</span></a>
                </td>
            </tr>
            <tr>
                <th scope="col" class="key-value-list__key">
                    Password
                </th>
                <td scope="col" class="key-value-list__value">
                    <span class="masked-text">{{password}}</span>
                </td>
                <td scope="col" class="key-value-list__item-action">
                    <a href="/create-an-account/password">Change<span class="visuallyhidden"> password</span></a>
                </td>
            </tr>
        </tbody>
    </table>
    <form action="#" method="POST">
        {{> mot_m_content-navigation }}
    </form>
</main>
