{{#contentFor "pageTitle"}}Create an account - {{ContentHeader.title}}{{/contentFor}}
<main id="content" role="main">

    {{> mot_phase-banner}}
    {{>mot_a_content-header}}

    <div class="text">

        <p class="banner--error">
            <span class="banner__heading-large">
                There was a problem creating your account
            </span>
            <span>
                Your User ID has not been created
            </span>
        </p>

        <h2 class="heading-medium">What happends next?</h2>
        <p>Your account was not created, please <a href="/create-an-account/summary">go back</a>,  check your answers and try again.</p>
    </div>
</main>
