{{#contentFor "pageTitle"}}Create an account - {{ContentHeader.title}}{{/contentFor}}

<main id="content" role="main">

    {{> mot_phase-banner}}
    {{>mot_a_content-header}}
    
    <div class="text">

        <p class="lede">Create your MOT testing account by providing us with the following details. We will create your User ID from this information.</p>

    </div>

    <form action="#" method="POST" autocomplete="off" novalidate>

        {{> molecule_formgroup CONTEXT_NAME}}
        {{> molecule_formgroup CONTEXT_EMAIL}}

        {{> mot_m_content-navigation }}

    </form>


</main>
