{{#contentFor "pageTitle"}}Create an account - {{ContentHeader.title}}{{/contentFor}}

<main id="content" role="main">

    {{>mot_phase-banner}}
    {{>mot_a_content-header}}
    {{>molecule_validationsummary}}
    
    <div class="text">
        <p class="lede">Now you need to create a password for your account.</p>
    </div>

    <form action="#" method="POST" autocomplete="off" novalidate>
        {{>molecule_formgroup CONTEXT_PASSWORD}}
        {{>mot_m_content-navigation}}
    </form>

</main>
{{#contentFor "bodyEndInlineScripts"}}
<script type="application/javascript">
    if(typeof(document.querySelectorAll) != 'undefined'){
        var passwordCriteria = new DVSA.Modules.DVSACriteria.Criteria({
            trigger: document.querySelector("#password"),
            criteria: document.querySelector('#password-criteria-scope')
        });
        passwordCriteria.checkCriteria();
    }
</script>
{{/contentFor}}
