{{#contentFor "pageTitle"}}Create an account - {{ContentHeader.title}}{{/contentFor}}

<main id="content" role="main">

    {{> mot_phase-banner}}
    {{>mot_a_content-header}}
    
    <div class="text">
        <p class="lede">Now you need to create a password for your account.</p>
    </div>

    <form action="#" method="POST" autocomplete="off" novalidate>
        <fieldset>
            <legend class="visuallyhidden">Your password</legend>
                <div class="module-criteria" id="password-criteria-scope">
                    <span>Your password must have:</span>
                    <ul class="criteria__list">
                        <li class="criteria__criterion" data-criteria="minLength" data-criteria-param="8">8, or more, characters</li>
                        <li class="criteria__criterion" data-criteria="hasNumeric">1, or more, numbers</li>
                        <li class="criteria__criterion" data-criteria="hasMixedCase">upper and lower case letters</li>
                    </ul>
                </div>
                <div class="form-group{{# passwordValidation }} has-error{{/ passwordValidation }}">
                    <label for="password" class="form-label">
                        Create a password
                        {{# passwordValidation }}
                            <span class="validation-message">{{passwordValidation}}</span>
                        {{/ passwordValidation }}
                    </label>
                    <input type="password" 
                        name="password" 
                        id="password" 
                        class="form-control"
                        value="{{password}}"
                    >
                </div>
                <div class="form-group{{# passwordConfirmValidation }} has-error{{/ passwordConfirmValidation }}">
                    <label for="passwordConfirm" class="form-label">
                        Re-type your password
                        {{# passwordConfirmValidation }}
                            <span class="validation-message">{{passwordConfirmValidation}}</span>
                        {{/ passwordConfirmValidation }}
                    </label>
                    <input type="password" 
                        name="passwordConfirm" 
                        id="passwordConfirm" 
                        class="form-control"
                        value="{{passwordConfirm}}"
                    >
                </div>
        </fieldset>                

        {{> mot_m_content-navigation }}

    </form>

</main>
{{#contentFor "bodyEndInlineScripts"}}
<script type="application/javascript">
    if(typeof(document.querySelectorAll) != 'undefined'){
        var passwordCriteria = new DVSA.Modules.DVSACriteria.Criteria({
            trigger: document.querySelector("#password"),
            criteria: document.querySelector('#password-criteria-scope')
        });
        passwordCriteria.checkCriteria();
    }
</script>
{{/contentFor}}
