{{#contentFor "pageTitle"}}Create an account - {{ContentHeader.title}}{{/contentFor}}
<main id="content" role="main">

    {{> mot_phase-banner}}
    {{>mot_a_content-header}}

    <div class="text">

        <p class="banner--confirmation">
            <span class="banner__heading-large">
                Now activate your account
            </span>
            <span>
                Your User ID has been sent to <strong>{{emailAddress}}</strong>
            </span>
        </p>

        <h2 class="heading-medium">What happends next?</h2>
        <p>An email containing your <strong>User ID</strong> has been sent to <strong>{{emailAddress}}</strong></p>
        <p>You will need the User ID in the email and the password you just created to <a href="/sign-in">Sign in</a> to the MOT testing service.</p>

    </div>

</main>
