{{#EL_INPUT}}
    <input 
        type="{{type}}"
        name="{{../name}}" 
        id="{{../name}}"
        value="{{value}}"
        class="
            form-control
            {{#if mod}} form-control-{{mod}}{{/if}}
        "
    >
    {{#EL_INLINECHECKBOX}}
        <label class="form-checkbox" for="{{../../name}}-inline">
              <input type="checkbox" name="{{../../name}}-inline" id="{{../../name}}-inline" value="{{value}}">
               {{text}}
        </label>
    {{/EL_INLINECHECKBOX}}
{{/EL_INPUT}}
