<fieldset>
    <legend class="
        {{#if isLegendHidden}}
            visuallyhidden
        {{else}}
            form-title heading-large
        {{/if}}" 
        id="{{legendId}}">{{{legend}}}</legend>

    {{#EL_ROW}}
        {{#EL_2FA}}
            <div class="two-fa">
                <img src="{{@root.assetPath}}images/logo_mot.gif" width="56" height="53" alt="MOT" class="two-fa__logo">
                {{text}}
                {{#if pin }}
                    <strong class="two-fa__pin">{{pin}}</strong>
                {{/if}}
            </div>
        {{/EL_2FA}}
        {{#if EL_CRITERIA}}
            {{#EL_CRITERIA}}
            <div id="{{name}}" class="module-criteria">
                <span>{{text}}</span>
                <ul class="criteria__list">
                    <li data-criteria-param="8" data-criteria="minLength" class="criteria__criterion">8, or more, characters</li>
                    <li data-criteria="hasNumeric" class="criteria__criterion">1, or more, numbers</li>
                    <li data-criteria="hasMixedCase" class="criteria__criterion">upper and lower case letters</li>
                </ul>
                {{#if userId}}
                    <span>and, must not</span>
                    <ul class="criteria__list">
                        <li data-criteria-param="{{userId}}" data-criteria="notMatch" class="criteria__criterion">match your username</li>
                    </ul>
                {{/if}}
            </div>
            {{/EL_CRITERIA}}
        {{else}}
            <div class="
                form-group 
                {{#if EL_TOUCH.isInline}}inline{{/if}} 
                {{#if EL_2FA}}two-fa__input{{/if}} 
                
                {{#if error}}
                    has-error
                {{else}}
                    {{#if EL_INPUT.isCompound}}form-group-compound{{/if}}
                {{/if}}
            ">
                {{#if isFieldset }}
                    <fieldset>
                        <legend class="form-label {{#if mod }}{{mod}}{{/if }}">
                            {{> atom_question}}
                        </legend>
                        {{#EL_DATE}}
                            <div class="form-date">
                                <div class="form-group form-group-day">
                                    <label for="{{../name}}-day">Day</label>
                                    <input type="{{type}}" id="{{../name}}-day" value="{{valueDay}}" class="form-control">
                                </div>
                                <div class="form-group form-group-month">
                                    <label for="{{../name}}-month">Month</label>
                                    <input type="{{type}}" id="{{../name}}-month" value="{{valueMonth}}" class="form-control">
                                </div>
                                <div class="form-group form-group-year">
                                    <label for="{{../name}}-year">Year</label>
                                    <input type="{{type}}" id="{{../name}}-year" value="{{valueYear}}" class="form-control">
                                </div>
                            </div>
                        {{/EL_DATE}}
                        {{#EL_TIME}}
                            <div class="form-time">
                                <div class="form-group form-group-hour">
                                    <label for="{{../name}}-hour" class="visuallyhidden">Hours</label>
                                    <input type="{{type}}" id="{{../name}}-hour" value="{{valueHour}}" class="form-control">
                                </div>
                                <div class="form-group form-group-delimeter">
                                    :
                                </div>
                                <div class="form-group form-group-minutes">
                                    <label for="{{../name}}-minutes" class="visuallyhidden">Minutes</label>
                                    <input type="{{type}}" id="{{../name}}-minutes" value="{{valueMinutes}}" class="form-control">
                                </div>
                                <div class="form-group form-group-ampm">
                                    <label for="{{../name}}-ampm" class="visuallyhidden">am or pm</label>
                                    <select id="{{../name}}-ampm" class="form-control">
                                        <option value="am">am</option>
                                        <option value="pm">pm</option>
                                    </select>
                                </div>
                            </div>
                        {{/EL_TIME}}
                        {{#EL_PIN}}
                            <div class="form-pin">
                                <div class="form-group form-group-pin">
                                    <label for="{{../name}}-1">{{digit1}}</label>
                                    <input type="{{type}}" id="{{../name}}-1" value="{{value1}}" class="form-control">
                                </div>
                                <div class="form-group form-group-pin">
                                    <label for="{{../name}}-2">{{digit2}}</label>
                                    <input type="{{type}}" id="{{../name}}-2" value="{{value2}}" class="form-control">
                                </div>
                                <div class="form-group form-group-pin">
                                    <label for="{{../name}}-3">{{digit3}}</label>
                                    <input type="{{type}}" id="{{../name}}-3" value="{{value3}}" class="form-control">
                                </div>
                            </div>
                        {{/EL_PIN}}
                        {{#EL_TOUCH}}
                            {{#each options}}
                                {{#if blockText}}
                                    <p class="form-block">{{blockText}}</p>
                                {{else}}
                                    <label 
                                        class="block-label" 
                                        for="{{../../../name}}{{value}}" 
                                        {{#if dataTarget }}
                                            data-target="{{dataTarget}}"
                                        {{/if}}
                                    >
                                        <input 
                                            type="{{type}}" 
                                            value="{{value}}"
                                            {{#if isSelected}}checked{{/if}}
                                            name="{{../../../name}}" 
                                            id="{{../../../name}}{{value}}"
                                        >
                                        {{text}}
                                    </label>
                                {{/if}}
                            {{/each}}
                        {{/EL_TOUCH}}
                    </fieldset>
                {{else}}
                    <label for="{{name}}" class="form-label {{#unless error}}{{#if mod }}{{mod}}{{/if }}{{/unless}}">
                        {{> atom_question}}
                    </label>
                    {{> atom_select}}
                    {{> atom_input}}
                    {{> atom_textarea}}
                {{/if}} 
            </div>
            {{#EL_TARGET}}
                <div class="panel-indent js-hidden {{#if error}}has-error{{/if}}" id="{{dataTarget}}">
                    <label class="form-label" for="{{../name}}-target">
                        {{> atom_question}}
                    </label>
                        <input 
                            type="{{EL_INPUT.type}}"
                            name="{{../name}}-target" 
                            id="{{../name}}-target"
                            value="{{EL_INPUT.value}}"
                            class="
                                form-control
                                {{#if EL_INPUT.mod}} form-control-{{EL_INPUT.mod}}{{/if}}
                            "
                            {{#if EL_INPUT.isPasteDisabled}}onpaste="return false;"{{/if}}
                            {{#if EL_INPUT.isCopyDisabled}}oncopy="return false;"{{/if}}
                        >
                </div>
            {{/EL_TARGET}}
        {{/if}}
    {{/EL_ROW}}
</fieldset>
