<ul class="data-list">
    {{# items }}
        <li>
            {{# heading }}
                {{# headingIsLink }}
                    <a href="
                        {{# href }}
                            {{href}}
                        {{/ href }}
                        {{^ href }}
                            #
                        {{/ href }}
                    " class="data-list__heading">
                        {{{heading}}}
                    </a>
                {{/ headingIsLink }}
                {{^ headingIsLink }}
                    <span class="data-list__heading">
                        {{{heading}}}
                    </span>
                {{/ headingIsLink }}
            {{/ heading }}
            
            {{# content }}
                <span class="data-list__content">
                    {{# contentIsLink }}
                        <a href="
                        {{# href }}
                            {{href}}
                        {{/ href }}
                        {{^ href }}
                            #
                        {{/ href }}
                        ">{{{content}}}</a>
                    {{/ contentIsLink }}
                    {{^ contentIsLink }}
                        {{{content}}}
                    {{/ contentIsLink }}
                </span>
            {{/ content }}
            
            {{# subtitle }}
                <span class="data-list__subtitle">
                    {{{subtitle}}}
                </span>
            {{/ subtitle }}

        </li>
    {{/ items }}
</ul>
