<div id="hero">
    <div class="hero__wrap">
        <div class="grid-row">
            <div class="hero__content">
                <h1 class="heading-large">
                    <span class="heading-secondary">MOT modernisation</span>
                    Your home
                </h1>
                <p>Tester view</p>
            </div>
            <div class="hero__actions">
                <button class="button button-start">Start MOT test</button>
                <ul>
                  <li><a href="#">re-test a previous vehicle</a></li>
                  <li><a href="#">start MOT training mode</a></li>
                  <li><a href="#">replacement/duplicate certicate</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
