{{#ELEMENT-SLOT-HERO }}
<div class="slot-hero">
    <div class="grid-row">
        <div class="slot-hero__count">
            <h3 class="slot-hero__title">25<span> slots remaining</span></h3>
            <p>Direct debit due in 5 days - 200 slots</p>
            {{#suggestSlotUse}}
            <p>You clould run out in 4 days</p>
            {{/suggestSlotUse}}
            {{#canBuySlots}}
            <button class="button--on-blue">Buy more slots</button>
            {{/canBuySlots}}
        </div>
        <div class="slot-hero__usage">
            <h4 class="visuallyhidden">Slot usage</h4>
            <ul>
                <li><strong>112 slots</strong> used in the last <strong>30 days</strong></li>
                <li><strong>32 slots</strong> used in the last <strong>7 days</strong></li>
                <li><strong>4 slots</strong> used <strong>today</strong></li>
            </ul>
        </div>
    </div>
</div>
{{/ELEMENT-SLOT-HERO }}

