{{# ContentNavigation }}
    <nav class="content-navigation">

        {{# primary }}
            {{#if isInput}}
                <input 
                    type="submit" 
                    value="{{link}}"
                    class="button{{#if isWarning }}-warning{{/if}}{{#if isStart}} button-start{{/if}}"
                >
            {{else}}
                <a 
                    href="{{#if href}}{{href}}{{else}}#{{/if}}" 
                    class="button{{#if isWarning }}-warning{{/if}}{{#if isStart}} button-start{{/if}}"
                >
                    {{ link }}
                </a>
            {{/if}}
            
        {{/ primary }}

        {{> mot_m_system-message }}
        
        <ul class="content-navigation__secondary">
            {{# secondary }}
                <li>
                    <a href="{{#if href}}{{href}}{{else}}#{{/if}}">{{{link}}}</a> 
                </li>
            {{/ secondary }}
        </ul>

    </nav>
{{/ ContentNavigation }}
