<ul class="data-list">
    <li>
        <a href="#" class="data-list__heading">
            FNZ6 110
        </a>
        <span class="data-list__content">
            <strong>Land Rover</strong>, Range Rover Sport Limited Autobiography Supercharged
        </span>
        <span class="data-list__subtitle">
            Bob Thomas Arctor Tester1
        </span>
    </li>
    <li>
        <a href="#" class="data-list__heading">
            YH07 JWC
        </a>
        <span class="data-list__content">
            <strong>Audi</strong>, A3 S-Line Sportback 1.4 TFSI
        </span>
        <span class="data-list__subtitle">
            Bob Thomas Arctor
        </span>
    </li>
    <li>
        <!-- Some list items may not have a call to action -->
        <span class="data-list__heading">
            YH07 JWC
        </span>
        <span class="data-list__content">
            <strong>Audi</strong>, A3 S-Line Sportback 1.4 TFSI
        </span>
        <span class="data-list__subtitle">
            Bob Thomas Arctor
        </span>
    </li>
    <li>
        <!-- Some list items may not require a heading -->
        <span class="data-list__content">
            <strong>Stewie Griffin</strong>
        </span>
        <span class="data-list__subtitle">
            AEDM (Accepted on 10 October 2010) 
        </span>
    </li>
</ul>
