{{# is-link }}
    <a href="#" class="big-data--is-link">
        <strong class="big-data__number">{{number}}</strong>
        <span class="big-data__unit">
            {{unit}}
            {{#meta}}
                <span class="big-data__meta">{{meta}}</span>
            {{/meta}}
        </span>
    </a>
{{/ is-link }}
{{^ is-link }}
    <span class="big-data">
        <strong class="big-data__number">{{number}}</strong>
        <span class="big-data__unit">
            {{unit}}
            {{#meta}}
                <span class="big-data__meta">{{meta}}</span>
            {{/meta}}
        </span>
    </span>
{{/ is-link }}
