<section class="pivot-panel">
    <header class="pivot-panel__header">
        <h2 class="pivot-panel__title">
            {{# titleIsLink }}
                <a href="
                {{# href }}
                    {{href}}
                {{/ href }}
                {{^ href }}
                    #
                {{/ href }}
                ">{{title}}</a>
            {{/ titleIsLink }}
            {{^ titleIsLink }}
                {{title}}
            {{/ titleIsLink }}
        </h2>
        {{# headerSubtitle }}
            <p class="pivot-panel__subtitle">{{headerSubtitle}}</p>
        {{/ headerSubtitle }}
    </header>
    {{# bodyLead }}
        <p >{{bodyLead}}</p>
    {{/ bodyLead }}

    {{# dataList }}
        {{> mot_a_data-list }}
    {{/ dataList }}

    {{# linkList }}
        {{> mot_a_link-list }}
    {{/ linkList }}

    {{# mailboxStatus }}
        {{>mot_m_mailbox-status}}
    {{/ mailboxStatus }}

    {{# notifications }}
        {{>mot_a_notification}}
    {{/ notifications }}

    {{# bigData }}
        {{> mot_a_big-data }}
    {{/ bigData }}
</section>
