{{#contentFor "pageTitle"}}MOT frontend assets{{/contentFor}}

<main id="content" role="main">
    {{> mot_phase-banner}}
    {{>mot_a_content-header}}
    <div class="text">
        <p class="lede">
            A <strong class="highlight">content header</strong> is the main header on every page. It's used in conjunction with <a href="/examples/breadcrumbs">breadcrumbs</a> to inform users of <strong>what</strong> they're doing - and <strong>where</strong> they're doing it.
        </p>
    </div>
    <div class="example">
        {{>mot_a_content-header CONTEXT_KEY}}
    </div>
    <div class="text">
        <h2 class="heading-large">Components</h2>
        <p>The <strong class="highlight">content header</strong> can contain up to 4 pieces of information.</p>
        <ol class="list-number">
            <li>
                <p><strong>Type</strong><br >
                Which 'entity level' or 'task' are you in?</p>
                <ul class="list-bullet">
                    <li> Authorised Examiner </li>
                    <li>Vehicle Testing Station</li>
                    <li>MOT Testing</li>
                    <li>Your Account</li>
                </ul>
            </li>
            <li>
                <p><strong>Title</strong> <br >What are you doing?</p>
                <ul class="list-bullet">
                    <li>Managing <i>something</i></li>
                    <li>Changing <i>something</i></li>
                    <li>Viewing <i>something</i> (VTS name, AE name or Person name)</li>
                    <li>Reviewing <i>something</i></li>
                </ul>
            </li>
            <li><p><strong>Progress</strong> (optional)<br >Does the task have multiple steps? In the format 'Step <i>n</i> of <i>total</i>'.</p></li>
            <li><strong>Tertiary</strong> (optional)<br >Occasionally, a tertiary piece of information may be required to clarify a user's location within the site.</li>
        </ol>
        <div class="message--important">
            Headings should always be sentence case, with no full stops.
        </div>
    </div>
    <h2 class="heading-large">Examples</h2>
    <div class="example">
        {{>mot_a_content-header CONTEXT_EXAMPLE1}}
    </div>
    <div class="example">
        {{>mot_a_content-header CONTEXT_EXAMPLE2}}
    </div>
    <div class="example">
        {{>mot_a_content-header CONTEXT_EXAMPLE3}}
    </div>
    <div class="example">
        {{>mot_a_content-header CONTEXT_EXAMPLE4}}
    </div>
    {{> mot_m_content-navigation }}
</main>