{{#contentFor "pageTitle"}}Example filtered data{{/contentFor}}

<main id="content" role="main">

    {{> mot_phase-banner}}
    {{>mot_a_content-header}}

    <div class="text">
        <p class="lede">This page demonstrates how to display filtered data in the MOT system.</p>   
        <ol class="list-number">
            <li>A summary of the number of results, applied filters or search terms should be including above the table</li>
            <li>Column headers should use the <code>th</code> tag</li>
            <li>Sortable columns should be indicated using a hyperlink</li>
            <li>The default sort should be sensible and indicated with a sort arrow</li>
            <li>If required, download options should appear in sentence format below the results table</li>
        </ol>
    </div>
    
    <div class="example"> 
        {{> mot_a_filtered-data }}
    </div>

    <h3 class="heading-medium">CSS class summary</h3>
    <div class="text">
        <p>A summary of the CSS classes used is as follows:</p>
        <ol class="list-number">
            <li>Apply <code>sort-desc</code> and <code>sort-asc</code> to the sort hyperlink to indicate appropriate sort direction</li>
            <li>Numerical data (and associated column header) should be formatted using the standard <code>numeric</code> class</li>
            <li>Other data type values should have the <code>tabular</code> class applied which negates right align styles</li>
        </ol>
    </div>

    <h2 class="heading-large">Results table with filter boxes</h2>
    <div class="text">
        <ol class='list-number'>
            <li>When page includes filters, a 33/66 column split should be used</li>
            <li>For accessibility and content order purposes, the results table should be first in content</li>
            <li>For currently selected filters, remove the hyperlink and show as bold text</li>
        </ol>
    </div>

    <div class="example">
    <div class="layout-filter-data">
        <div class="layout-filter-data__results">
            {{> mot_a_filtered-data }}
        </div>
        <div class="layout-filter-data__filters">
            <h2 class="filter__group-heading">Filters</h2>
            
            <div class="filter">
                <label for="filter-search" class="filter__heading">Search</label>
                <div class="filter__content--text">
                    <input id="filter-search" type="text" class="form-control">
                </div>
                <span class="filter__help">For example, Card</span>
            </div>

            <div class="filter">
                <h3 class="filter__heading">Purchased</h3>
                <div class="filter__content">
                    <ul class="filter__list">
                        <li><a href="#">Today</a></li>
                        <li><a href="#">Last 7 days</a></li>
                        <li><strong>Last 30 days</strong></li>
                        <li><a href="#">Last year</a></li>
                    </ul>
                </div>
                <h3 class="filter__heading">Custom date</h3>
                <div class="filter__content">

                    <div class="form-group">
                        <fieldset>
                            <legend class="form-label">
                                From
                            </legend>
                            <div class="form-date">
                                <div class="form-group form-group-day">
                                    <label for="date1-day">Day</label>
                                    <input type="text" class="form-control" id="date1-day">
                                </div>
                                <div class="form-group form-group-month">
                                    <label for="date1-month">Month</label>
                                    <input type="text" class="form-control" id="date1-month">
                                </div>
                                <div class="form-group form-group-year">
                                    <label for="date1-year">Year</label>
                                    <input type="text" class="form-control" id="date1-year">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group">
                        <fieldset>
                            <legend class="form-label">
                                To
                            </legend>
                            <div class="form-date">
                                <div class="form-group form-group-day">
                                    <label for="date2-day">Day</label>
                                    <input type="text" class="form-control" id="date2-day">
                                </div>
                                <div class="form-group form-group-month">
                                    <label for="date2-month">Month</label>
                                    <input type="text" class="form-control" id="date2-month">
                                </div>
                                <div class="form-group form-group-year">
                                    <label for="date2-year">Year</label>
                                    <input type="text" class="form-control" id="date2-year">
                                </div>
                            </div>
                        </fieldset>
                    </div>

                </div>
                <span class="filter__help">For example, 21/11/2014</span>
            </div>

            <div class="filter__actions">
                <button class="button">Update results</button>
            </div>
        </div>
    </div>

    </div>

    <h3 class="heading-medium">CSS class summary</h3>
    <div class="text">
        <p>A summary of the CSS classes used for filter boxes is as follows:</p>
        <ol class="list-number">
            <li>Use the <code>filter__help</code> class to add styled filter help within any filter box</li>
            <li>The <code>filter__actions</code> class is used to wrap a standard form submit button</li>
        </ol>
    </div>

    {{> mot_m_content-navigation }}
</main>
