{{#contentFor "pageTitle"}}MOT Testing Service{{/contentFor}}

<main id="content" role="main">

    {{> mot_phase-banner}}
    {{> mot_a_content-header}}
    
    <div id="cookieWarning" class="text" style="display:none;">
        <h3 class="heading-large">Enable cookies</h3>
        <p class="lede">You must enable cookies to access the MOT testing service.</p>
        <p><a rel="external" href="http://www.aboutcookies.org/Default.aspx?page=1">Find out how to enable cookies</a></p>
        <p>Once you've enabled your cookies please try again.</p>
        <p><a href="/sign-in" class="button">Try again</a></p>
    </div>

    <div id="signIn" class="grid-row">
        <div class="column-two-thirds">
            <div class="sign-in">
                <form method="post" action="/sign-in/">
                    {{>molecule_formgroup CONTEXT_FORM}}
                    {{> mot_m_content-navigation }}
                </form>
            </div>

            <div class="message">
                <p>You must <a href="/create-an-account">create an account</a> to use this service.</p>
            </div>

            <div id="cookieInformation" class="message">
                <p>The MOT testing service requires cookies to sign in.</p>
                <p>Find out <a rel="external" href="http://www.aboutcookies.org/">how to manage cookies</a></p>
            </div>  
        </div>
        <div class="column-third">
            <img src="/images/dvsa-logo2x.png" width="154" height="105">
        </div>
    </div>

</main>
{{#contentFor "bodyEndInlineScripts"}}
    <script type="text/javascript">
        (function(){
            var warningElement = document.getElementById('cookieWarning');
            var informationElement = document.getElementById('cookieInformation');
            var formElement =  document.getElementById('signIn');

            if (DVSA.Modules.DVSACookiesEnabled.CookiesEnabled() === false) {
                if (warningElement && formElement){
                    warningElement.style.display = 'block';
                    formElement.style.display = 'none';
                }
            } else if (informationElement){
                informationElement.style.display = 'none';
            }
        }());
    </script>
{{/contentFor}}
